// The variables you want to modify
@import url('https://fonts.googleapis.com/css?family=Josefin\+Sans');
$body-font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;


@import '~vuetify/src/styles/styles.sass';
$tooltip-background-color: rgba(map-get($grey, 'darken-4'), 0.9) !default;

$material-light: map-merge($material-light, (
  'text': map-merge(
    map-get($material-light, 'text'),
    (
      'secondary': 'rgba(0, 0, 0, 1)'
    )
  )
));